# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.user
.moc/
.obj/
mkspecs/
lib/
*.dll
*.rc
object_script.qtgeoservices_ors.Release
object_script.qtgeoservices_orsd.Debug
object_script.qtgeoservices_googlemaps.Release
object_script.qtgeoservices_googlemapsd.Debug
plugins/
